<div class="columns">
	<div class="column col-12">
		<h2>about us</h2>
	</div>

	<div class="column col-sm-12 col-6">
		<h5>our company</h5>
		<p>We are a Singapore-based company that manufactures and supply soybean products such as deep fried,
		silken and pressed tofu.</p>
		<h5>beginnings</h5>
		<p>Established in 2003, we initially manufactured traditional pressed cut tofu and deep fried tofu in Singapore. 
			Using a traditional recipe and experience that has been inherited for over forty years, we know what it takes to produce good,
			authentic tofu. Utilizing high quality soy beans, our tofu will give out a unique soya bean fragrance when consumed.<br>
			<br>Over the years, we have expanded our product range and improved the efficiency and hygiene of our processes by utilizing
			automated machinery and encouraging the use of sealed packaging. Nevertheless, we remain true to our roots and have preserved
			the traditional, authentic taste that people love.
		</p>
		<h5>mission</h5>
		<p>To innovate in the beancurd industry and providing customers with affordable, quality goods.</p>
	</div>
	<div class="column col-6 hide-sm"></div>
</div>