<div class="columns">
    <div class="column col-12">
	<h1>About us</h1>
    </div>

    <div class="column col-sm-12 col-6">
	<h2>Our Company</h2>
	<p>Our factory is in Singapore, manufacturing and supplying tofu products such
	    as deep-fried, silken and pressed tofu to restaurants, distributors and
	    stores locally.<br>
	    
	    <br>We constantly focus on Research and Development to innovate new tofu products.
	    We also incorporate the use of automated machines to ensure our tofu products
	    are safe and hygienic for consumption.</p>
	<h2>Beginnings</h2>
	<p>Sun Up Bean Food was established in 2003, manufacturing traditional pressed cut
	    tofu and Deep Fried Tofu in Singapore. Using a traditional recipe and experience
	    that has been inherited for over forty years, we know what it takes to manufacture
	    good, authentic tofu that differs from our competitors. By using high-quality soya
	    beans, our products will give out a unique soya bean fragrance when consumed.<br>
	    
	    <br>Over the years, we have expanded our tofu product range and improved the efficiency
	    and hygiene of our processes by utilizing automated machinery and encouraging the
	    use of sealed packaging. Nevertheless, we remain true to our roots and have preserved
	    the traditional, authentic taste that people love.</p>
	<h2>Mission</h2>
	<p>To innovate in the Singapore bean curd manufacturing industry and providing
	    customers with safe, affordable, and quality tofu products.</p>
    </div>
    <div class="column col-6 hide-sm"></div>
</div>
