<div class="columns">
	<div class="column col-sm-12 col-6 col-mx-auto">
		<h1>Contact</h1>
		<h2>request for a quote</h2>
		<p>Office: +65 6863 9035<br>
			Fax: +65 6863 3738<br>
			Email: sunupbean@singnet.com.sg<br></p>
		<div class="divider column col-xs-12 col-5 col-mx-auto"></div>
		<h2>address</h2>
		<p>
		10 Tuas Bay Walk, #02-30<br>
		Singapore 637780<br>
		(Inside Eng Soon Building)</p>
	</div>
	<div class="column col-sm-12 col-6">
			<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.77182752851!2d103.632303!3d1.3123168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7dc3ba25729f2a6e!2sSun-Up+Bean+Food+Manufacturing!5e0!3m2!1sen!2ssg!4v1543710137532" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
