<footer class="container-footer">
	<div id="urls">
		<ul id="footer-nav" class="nav">
			<li id="pages" class="nav-item h3 footer-header">Pages</li>
			<li class="nav-item"><a href="/index">home</a></li>
			<li class="nav-item"><a href="/about">about us</a></li>
			<li class="nav-item"><a href="/products">products</a></li>
			<li class="nav-item"><a href="/contact">contact</a></li>
		</ul>
		<a class="btn btn-primary btn-lg text-uppercase" id="contact-us" href="/contact/">contact us</a>
	</div>
	<div id="copyright">
		<span>©&nbsp;{{ "now" | date: "%Y"}} SUN-UP BEAN FOOD MFG PTE LTD</span>
	</div>
</footer>
