<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/assets/css/spectre.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/spectre-icons.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/spectre-exp.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
<link rel="shortcut icon" href="/assets/images/Company_Logo.ico" />
<link rel="canonical" href="{{ site.url | append: page.url }}">
<script src="/assets/js/main.js"></script>
<meta name="description" content="{{ page.description }}">
<meta name="theme-color" content="#000000">
