<div class="columns">
	<div id="plate" class="column col-12">
		<img id="plate-img" class="centered" src="/assets/images/Main/main.png" alt="Sun-Up Deep Fried Tofu with Chilli">
		<div class="text-center" id="authentic">Authentic.</div>
	</div>
	<div class="column col-12 divider"></div>
	<div class="column col-xs-12 col-sm-12 col-md-12 col-8 text-center col-mx-auto">
		<h1 id="introduction">With forty years of experience in bean curd manufacturing, we strive to bring consumers the finest bean curd.</h1>
	</div>
	<div class="column col-12">
		<a href="/products" class="btn btn-primary btn-lg text-uppercase centered col-sm-12 col-3 col-mx-auto">our products</a>
	</div>
</div>