<div id="plate">
	<div id="plate-img">
		<img class="img-responsive" src="/assets/images/Main/sun-up-singapore-tofu-supplier-deep-fried-tofu-with-chilli.png" alt="Sun-Up Singapore Tofu Supplier Deep Fried Tofu with Chilli">
	</div>
	<div id="authentic">Authentic.</div>
	<div class="divider"></div>
	<h1 id="introduction" class="text-center mx-2">With forty years of experience in bean curd manufacturing, we strive to bring consumers the finest bean curd.</h1>
	<div>
		<a href="/products/" class="btn btn-primary btn-lg text-uppercase centered">our products</a>
	</div>
</div>
