<div class="columns menu-nav-cn">
  <div class="column col-2">
    <a href="/chinese/">
      <img class="float-left" id="logo" src="/assets/images/Company_Logo.svg" alt="Sun-Up Singapore Tofu Supplier Company Logo">
    </a>
  </div>
  <div class="column col-10">
    <div class="columns">
      <div class="column col-12">
	<a class="btn btn-secondary btn-sm text-uppercase float-right" href="/index/">english</a>
      </div>
      <ul class="column col-12 menu-nav my-1 hide-xs">
	<li class="d-inline-block float-right"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/contact/">联络</a></li>
	<li class="d-inline-block float-right"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/products/">产品种类</a></li>
	<li class="d-inline-block float-right"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/about/">公司详情</a></li>
	<li class="d-inline-block float-right"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/">首页</a></li>
      </ul>
    </div>
  </div>
  <ul class="column col-xs-12 menu-nav-cn my-1 show-xs">
    <li class="d-inline-block"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/">首页</a></li>
    <li class="d-inline-block"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/about/">公司详情</a></li>
    <li class="d-inline-block"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/products/">产品种类</a></li>
    <li class="d-inline-block"><a class="text-uppercase btn btn-sm btn-link" href="/chinese/contact/">联络</a></li>
  </ul>
  <div class="divider column col-12"></div>
</div>
