<div class="main-header">
    <div class="menu-nav">
        <a href="/chinese/" id="logo">
          <img src="/assets/images/Company_Logo.svg" style="width:3.2rem; height: 3.2rem;" alt="Sun-Up Singapore Tofu Supplier Company Logo">
        </a>
        <div>
          <a class="btn btn-secondary btn-sm text-uppercase float-right" href="/index/">english</a>
        </div>
    </div>
    
    <ul class="menu-nav-url">
      <li><a class="text-uppercase btn btn-link px-1" href="/chinese/">首页</a></li>
      <li><a class="text-uppercase btn btn-link px-1" href="/chinese/about/">公司详情</a></li>
      <li><a class="text-uppercase btn btn-link px-1" href="/chinese/products/">产品种类</a></li>
      <li><a class="text-uppercase btn btn-link px-1" href="/chinese/contact/">联络</a></li>
    </ul>
    <div class="divider"></div>
  </div>  
  