<div class="columns">
	<h1 class="column col-12">Products</h1>
	<div class="column col-8 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-mx-auto">
        <div class="columns">
            <h2 class="column col-12 hide-xs">featured</h2>
            <div class="column col-12 divider hide-xs"></div>
            <div class="column col-4 col-xs-12">
                <a href="/products/silken/" class="product-link">
                    <div class="columns">
                        <div class="column col-xs-4 col-12">
                            <img src="/assets/images/Products/Silken/thumbnail.jpeg" class="img-resrponsive centered product-img" alt="Silken Tofu Thumbnail">
                        </div>
                        <div class="column col-xs-8 col-md-12">
                            <div class="column col-xs-12 col-12 h3 text-center">Japanese Silken Tofu</div>
                            <div class="column col-xs-12 col-12 text-gray text-center">For Soup and Steaming</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
            <div class="column col-4 col-xs-12">
                <a href="/products/deepfry/" class="product-link">

                    <div class="columns">
                        <div class="column col-xs-4 col-12">
                            <img src="/assets/images/Products/DeepFry/thumbnail.jpeg" class="img-responsive centered product-img" alt="Deep Fried Tofu Thumbnail">
                        </div>
                        <div class="column col-xs-8 col-md-12">
                            <div class="column col-xs-12 col-12 h3 text-center">Deep Fried Tofu</div>
                            <div class="column col-xs-12 col-12 text-gray text-center">For Deep and Pan Fry</div>
                        </div>
                    </div>
                <div class="divider column col-xs-12 py-2 show-xs"></div>
                </a>
            </div>
                <div class="column col-4 col-xs-12">
                    <a href="/products/pressed/" class="product-link">
                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/Pressed/thumbnail.jpeg" class="img-responsive centered product-img" alt="Pressed Tofu Thumbnail">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">Pressed Tofu</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">For Soup and Steaming</div>
                            </div>
                        </div>
                    </a>
            </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
            <h2 class="column col-12 product-header hide-xs">new</h2>
            <div class="column col-12 divider hide-xs"></div>
                <div class="column col-4 col-xs-12">
                    <a href="/products/caixiang/" class="product-link">

                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/CaiXiang/thumbnail.jpeg" class="img-responsive centered product-img" alt="CaiXiang Tofu Thumbnail">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center"><i>Cai Xiang</i> Tofu</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">For Hotplate</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
                <div class="column col-4 col-xs-12">
                    <a href="/products/readyfry3/" class="product-link">

                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/ReadyFriedBox/thumbnail.jpeg" class="img-responsive centered product-img" alt="Ready Fried Tofu Box Thumbnail">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">Ready Fried  Tofu (3pcs)</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">For Braising</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
                <div class="column col-4 col-xs-12">
                    <a href="/products/readyfry20/" class="product-link">
                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/ReadyFriedStack/thumbnail.jpeg" class="img-responsive centered product-img" alt="Ready Fried Tofu Vacuum Thumbnail">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">Ready Fried Tofu (20pcs)</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">For Braising</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
        </div>
    </div>
</div>
