<h1>Products</h1>
<div>
    <div class="h3 my-2">Featured</div>
    <div class="product-flex">
        {% for product in site.data.products.featured %}
        <a class="product product-link" href="{{ product.url }}">
            <div class="product-img">
                <img src="{{ product.img-src }}"
                class="img-responsive"
                alt="{{ product.alt-text }}"/>
            </div>
            <div class="product-text">
                <div class="h3">{{ product.name }}</div>
                <span class="text-gray">{{ product.purpose }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div>
    <div class="h3 my-2">New</div>
    <div class="product-flex">
        {% for product in site.data.products.new %}
        <a class="product product-link" href="{{ product.url }}">
            <div class="product-img">
                <img src="{{ product.img-src }}"
                class="img-responsive"
                alt="{{ product.alt-text }}"/>
            </div>
            <div class="product-text">
                <div class="h3">{{ product.name }}</div>
                <span class="text-gray">{{ product.purpose }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>