@font-face {
    font-family: 'fzcusong-b09sregular';
    src: url('/assets/fonts/fzcusong-b09s-webfont.woff2') format('woff2'),
         url('/assets/fonts/fzcusong-b09s-webfont.woff') format('woff'),
         url('/assets/fonts/fzcusong-b09s-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
 box-sizing: border-box;
}

*:before, *:after {
 box-sizing: border-box;
}

a, u {
    text-decoration:none;
    color:#000000;
}

a:hover, .nav .nav-item a:hover
{
    color:rgba(139, 0, 0, 1);
    text-decoration:none;
    cursor:pointer;
}

html,body {
 height: 100%;
 position: relative;
}

h1, h2, h3, h4 {
    color:black;
    font-weight:700;
}


@media only screen and (max-width:480px) {
    h1 {
	font-size:6.5vw;
	font-weight:700;
    }    
}

@media only screen and (min-width:480px) {
    h1 {
	font-size:1.4em;
	font-weight:700;
    }    
}

h2 {
	font-size:1rem;
}

.h3, h3 {
	
	font-size:0.8rem;
}

.main-container {
    min-height:100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 10rem; /* height of your footer */
}

.container-body {
    padding:1.5rem;
}

.container-footer {
    background-color:black;
    font-size:0.8em;
    font-weight:600;
    color:white;
    position:absolute;
    bottom:0;
    width:100%;
    padding:1.2rem;
}




@media only screen and (max-width: 480px) {
    .menu-nav {
	text-align:center;
    }
    
    .menu-nav a {
	font-size:0.55rem;
	font-weight:700;
    }
}

@media only screen and (min-width:480px) {
    .menu-nav a {
	font-size:0.55rem;
	font-weight:700;
    }

    .menu-nav {
	text-align:right;
    }
}


.menu-nav-cn {
	font-weight:700;
	text-align:center;
}

#logo {
    width:3.2rem;
    height:3.2rem;
}

#plate-img {
    padding-top:1.5rem;
    max-width:65vw;
    min-width:13rem;
}

#plate {
    margin-top:5vh;
}

@media only screen and (max-width: 600px) {
	#introduction {
		font-family: 'Libre Baskerville', serif;
		line-height:2em;
		font-size:4vw;
		color:black;
		padding-top:1rem;
		padding-bottom:1rem;
		font-weight:500;
	}
	
	#introduction_cn {
		font-family: 'fzcusong-b09sregular';
		line-height:2em;
		font-size:4.5vw;
		font-weight:normal;
		color:black;
		padding-top:1rem;
		padding-bottom:1rem;
		font-weight:500;
	}
}

@media only screen and (min-width: 600px) {
	#introduction {
		font-family: 'Libre Baskerville', serif;
		line-height:2em;
		font-size:1.5em;
		color:black;
		padding-top:1rem;
		padding-bottom:1rem;
		font-weight:500;
	}
	
	#introduction_cn {
		font-family: 'fzcusong-b09sregular';
		line-height:2em;
		font-size:1.5em;
		font-weight:normal;
		color:black;
		padding-top:1rem;
		padding-bottom:1rem;
		font-weight:500;
	}
} 


#authentic {
    font-family: 'Libre Baskerville', serif;
    font-size:3em;
    line-height:1.8em;
    color:black;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}


#authentic_cn {
	font-family: 'fzcusong-b09sregular';
    font-size:3em;
	font-weight:normal;
    line-height:1.8em;
    color:black;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

#copyright {
    font-weight:700;
    font-size:0.8em;
    color:white;
}

.btn.btn-primary {
    background:rgba(139, 0, 0, 1);
    border-color:rgba(255, 255, 255, 0);
    font-size:0.65rem;
    letter-spacing:2.5px;
    font-weight:600;
}

.btn.btn-secondary {
    background:white;
    border-color:rgba(139, 0, 0, 1);
    color:rgba(139, 0, 0, 1);
    font-size:0.65rem;
    letter-spacing:2.5px;
    font-weight:600;
}

.btn.btn-secondary:focus,.btn.btn-secondary:hover {
	background:rgba(139, 0, 0, 1);
	border-color:rgba(255, 255, 255, 0);
	color:white;
}

.btn.btn-link {
	color:black;
}

.btn.btn-link:focus,.btn.btn-link:hover {
	color:rgba(139, 0, 0, 1);
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #000000;
    border-color:#000000;
    color:#FFFFFF;
}

#contact {
    background:rgba(255,255,255,0);
    color:white;
    border-color:rgba(255,255,255,1);
}

#contact:hover {
    background:rgba(255,255,255,255);
    color:black;
    border-color:rgba(0,0,0,1);
}

ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.fill-width {
    width:100%;
}

li {
    line-height:100%;
}

a {
    color:rgba(139, 0, 0, 1);
    text-decoration:none;
}

.sub-head {
    font-size:0.8rem;
    font-weight:400;
}

.product-header {
    padding-top:1rem;
}

.product-img {
    max-width:70%;
}

.product-link, u {
    color:inherit;
}



.product-img-div {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}


.prod-img {
    float:right;
    width:50%;
}

.prod-col {
	align-items:center;
	padding-top:1.5em;
}

.thumbnails {
	justify-content:center;
}


.thumbnails li {
	margin:.1rem;
}

.thumbnails li img {
	cursor:pointer;
	width:3.5em;
	height:auto;
	object-fit:contain;
}

#large-img {
	width:100%;
}

@media only screen and (max-width: 480px) {
    .breadcrumb {
	font-size:3.5vw;
    }
}

@media only screen and (min-width:480px) {
    .breadcrumb {
	font-size:.7rem;
    }
}

.breadcrumb li a:hover {
    text-decoration:underline;
}

.inactive-link {
    pointer-events:none;
    cursor: default;
}

.footer-header {
    color:white;
}
