@font-face {
    font-family: 'fzcusong-b09sregular';
    src: url('/assets/fonts/fzcusong-b09s-webfont.woff2') format('woff2'),
         url('/assets/fonts/fzcusong-b09s-webfont.woff') format('woff'),
         url('/assets/fonts/fzcusong-b09s-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
 box-sizing: border-box;
}

*:before, *:after {
 box-sizing: border-box;
}

body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

a, a:visited {
    text-decoration:none;
    color:#000000;
}

a:hover, .nav .nav-item a:hover
{
    color:rgba(139, 0, 0, 1);
    text-decoration:none;
    cursor:pointer;
}

.nav .nav-item a {
    color: #667189;
    padding: 0;
} 


h1, h2, h3, h4 {
    color:black;
    font-weight:700;
}

h1 {
    font-size: 1.3rem;
}    

h2 {
	font-size:1rem;
}

.h3, h3 {
	font-size:0.8rem;
}

ul {
    list-style:none;
    margin:0;
    padding-left:0;
}

li {
    line-height:100%;
}


.btn.btn-primary {
    background:rgba(139, 0, 0, 1);
    border-color:rgba(255, 255, 255, 0);
    font-size:0.65rem;
    letter-spacing:2.5px;
    font-weight:600;
}

.btn.btn-secondary {
    background:white;
    border-color:rgba(139, 0, 0, 1);
    color:rgba(139, 0, 0, 1);
    font-size:0.65rem;
    letter-spacing:2.5px;
    font-weight:600;
}

.btn.btn-secondary:focus,.btn.btn-secondary:hover {
	background:rgba(139, 0, 0, 1);
	border-color:rgba(255, 255, 255, 0);
	color:white;
}

.btn.btn-link {
	color:black;
}

.btn.btn-link:focus,.btn.btn-link:hover {
	color:rgba(139, 0, 0, 1);
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #000000;
    border-color:#000000;
    color:#FFFFFF;
}


/* master layout media query for phone and tablet */
#logo {
    flex: 1;
}

@media only screen and (max-width:840px) {
    .menu-nav-url {
        display: flex;
        justify-content: center;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 80vw;
    }

    #urls {
        flex:1;
        display: flex;
        align-items: center;
        width: 80vw;
        align-items: center;
    }

    .main-header {
        width: 80vw;
        padding-top: 1.5rem;;
    }

    .divider {
        width: 80vw;
    }
}

/* master layout media query for desktop */
@media only screen and (min-width:840px) {
    .menu-nav-url {
        display: flex;
        justify-content: flex-end;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 840px;
        margin:auto;
    }

    #urls {
        flex:1;
        display: flex;
        align-items: center;
        width: 840px;
        margin:auto;
        align-items: center;
    }

    .main-header {
        width: 840px;
        margin:auto;
        padding-top: 1rem;;
    }

    .divider {
        width: 100%;
    }
}


/* master footer styling */
/* master layout media query for phone and tablet */
@media only screen and (max-width:840px) {
    #copyright {
        width: 80vw;
    }

    #footer-nav {
        display: flex;
        flex: 1;
    }
}

/* master layout media query for desktop */
@media only screen and (min-width:840px) {
    #copyright {
        width: 840px;
    }

    #footer-nav {
        display: flex;
        flex: 5;
    }
}
.container-footer {
    background-color:black;
    font-size:0.8em;
    font-weight:600;
    color:white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

#contact-us {
    flex: 1;
    background:rgba(255,255,255,0);
    color:white;
    border-color:rgba(255,255,255,1);
}


#contact-us:hover {
    background:rgba(255,255,255,255);
    color:black;
    border-color:rgba(0,0,0,1);
}

.footer-header {
    color:white;
}

.menu-nav {
    display: flex;
    align-items: center;
    flex: 1;
}


.menu-nav-url li a {
    font-size: 0.65rem;
    font-weight: 600;
}
/* end master footer styling */



/* **************** INDEX PAGE *****************/
#plate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plate-img {
    padding-top:3rem;
}


/* index page media query for phone and tablet */
@media only screen and (max-width: 840px) {
	#introduction {
		font-family: 'Libre Baskerville', serif;
		line-height:2em;
		font-size:1em;
		color:black;
        padding-top:1rem;
        padding-bottom: .3rem;
		font-weight:500;
	}
	
	#introduction_cn {
		font-family: 'fzcusong-b09sregular';
		line-height:2em;
		font-size:4.5vw;
		font-weight:normal;
		color:black;
		padding-top:1rem;
		font-weight:500;
	}
}

@media only screen and (min-width: 840px) {
	#introduction {
		font-family: 'Libre Baskerville', serif;
		line-height:2em;
		color:black;
		padding-top:1rem;
		padding-bottom:.3rem;
        font-weight:500;
        max-width: 80%;
	}
	
	#introduction_cn {
		font-family: 'fzcusong-b09sregular';
		line-height:2em;
		font-size:1.5em;
		font-weight:normal;
		color:black;
		padding-top:1rem;
		padding-bottom:1rem;
        font-weight:500;
        max-width: 50%;
    }
    
}

#products_btn_cn {
    width: 10rem;
}

#authentic {
    font-family: 'Libre Baskerville', serif;
    font-size:3em;
    line-height:1.8em;
    color:black;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}


#authentic_cn {
	font-family: 'fzcusong-b09sregular';
    font-size:3em;
	font-weight:normal;
    line-height:1.8em;
    color:black;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
/* ************ INDEX PAGE END **************** */



/* ********** PRODUCTS LIST PAGE *************** */
.product-link, u {
    color:inherit;
}

@media only screen and (max-width: 600px) {
    .product-flex {
        display: flex;
        flex-direction: column;
    }

    .product {
        background: #fff;
        border-radius: .35rem;
        border: 0;
        box-shadow: 0 0.2rem 0.4rem 0px rgba(48,55,66,.1);
        margin-top: .4rem;
        display: flex;
        flex-shrink: 0;
    }
    
    .product-img {
        flex: 1;
        padding: .4rem;
    }

    .product-text {
        flex: 2;
        padding-left: .4rem;
        padding-top: .4rem;
    }

}
    
@media only screen and (min-width: 600px) {
    .product-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .product {
        background: #fff;
        border-radius: .35rem;
        border: 0;
        box-shadow: 0 0.2rem 0.4rem 0px rgba(48,55,66,.1);
        height:15rem;
        width:10rem;
        margin-top: .4rem;
        margin-right:.4rem;
        display: flex;
        flex-direction: column;
    }

    .product img {
        padding: .4rem;
    }

    .product-text {
        padding-left: .5rem;
        padding-top: .4rem;
    }
}
/* ********** END PRODUCTS PAGE **************** */



/* ********** PRODUCT DETAIL PAGE ************** */
@media only screen and (max-width: 480px) {
    .breadcrumb {
	    font-size:.8em;
    }
}

.breadcrumb li a:hover {
    text-decoration:underline;
}

.inactive-link {
    pointer-events:none;
    cursor: default;
}

#thumbnail-container img {
	cursor:pointer;
    width:3.5rem;
}

.prod-img {
    float: right;
    max-width: 60%;
}

#product-content p {
    margin: 0;
}

.sub-head {
    font-size:0.8rem;
    font-weight:400;
}

#description, #benefits, #specifications, #产品说明, #优势, #产品详情 {
    margin-top:.4rem;
}

.checked {
    background-image: url('/assets/images/checked.svg');
    background-size: 0.8rem 0.9rem;
    background-repeat:no-repeat;
    padding-left:1.5rem;
}

.contact-btn {
    width: 100%;
}

/* product detail page media query for phone and tablet */
@media only screen and (max-width: 840px){
    #product-content {
        display: flex;
        flex-direction: column;
    }

    #large-img {
        max-width:100%;
    }

    #thumbnail-container {
        display: flex;
        justify-content: center;
    }
}

/* product detail page media query for desktops */
@media only screen and (min-width: 840px) {
    #product-content {
        display: flex;      
    }

    #images {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin-right: 1rem;
    }

    
    #thumbnail-container {
        display: flex;
        justify-content: center;
    }
    
    #product-detail {
        flex: 1;
    }
}

/* ********** END PRODUCT DETAIL PAGE ********** */

/* ********** CONTACT US PAGE ****************** */
#map {
    height:100%;
    width:100%;
}
/* ********** END CONTACT US PAGE ************** */