<div class="columns">
	<div class="column col-xs-7 col-sm-7 col-5 col-mx-auto product-img-div">
		<img src="/assets/images/Products/CaiXiang/CaiXiang.png" class="img-responsive" alt="Sun-Up CaiXiang Tofu">
	</div>
	<div class="column col-xs-12 col-sm-12 col-6 py-2 col-mx-auto">
		<h1><i>Cai Xiang</i> Tofu</h1>
		<h2 class="text-gray sub-head">For Hotplate</h2>
		<div class="divider"></div>
		<h3>Description:</h3>
		<p><i>Cai Xiang</i> Tofu is a product catered for the convenience of restaurant grade chefs.
			Producing in-house beancurd is time consuming.
			By researching on chefs' needs, <i>Cai Xiang</i> Tofu aims to speed up and simplify the process
			so that they can focus on sauce preparation.<br>
			<br>After cooking on a sizzling hot plate, fragrances produced by the soya beans,
			eggs and sauce will give one a pleasant surprise.
			The packaging is also sealed to ensure the product hygiene and better shelf life.</p>
		<h3>Specifications:</h3>
		<ul>
			<li>Net Weight: 200g</li>
			<li>No Preservatives</li>
			<li>Ingredients:</li>
			<li>Non-GMO Soya Beans, Calcium Sulphate, Eggs</li>
			<li>Keep Refrigerated 2&#8451; ~ 7&#8451;</li>
		</ul>
		<a href="/contact/" class="btn btn-primary btn-lg fill-width text-uppercase my-2">contact us for quote</a>
	</div>
</div>