<div class="columns">
	<div class="column col-xs-7 col-sm-7 col-5 col-mx-auto product-img-div">
		<img src="/assets/images/Products/DeepFry/DeepFried.png" class="img-responsive" alt="Sun-Up Deep Fried Tofu">
	</div>
	<div class="column col-xs-12 col-sm-12 col-6 py-2 col-mx-auto">
		<h3>Deep Fried Tofu</h3>
		<h4 class="text-gray sub-head">For Deep and Pan Fry</h4>
		<div class="divider"></div>
		<h6>Description:</h6>
		<p>The bean curd is manufactured from rich-protein soy milk. When deep fried, the bean curd produces
			a rich aroma and possesses a crispy outer texture, complimented with a <i>tau huey</i>-like texture on the inside.<br>
			<br>Specially designed for restaurant-grade chefs, this bean curd takes up less time when frying as compared
			to other products produced by us.</p>

		<h6>Specifications:</h6>
			<img src="/assets/images/Products/DeepFry/productthumbnail.png" class="img-responsive prod-img" alt="Deep Fried Tofu on plate">
		<ul>
			<li>Net Weight: 300g</li>
			<li>No Preservatives</li>
			<li>Ingredients:</li>
			<li>Non-GMO Soya Beans, Calcium Sulphate</li>
			<li>Keep Refrigerated 2&#8451; ~ 7&#8451;</li>
		</ul>
		<a href="/contact" class="btn btn-primary btn-lg fill-width text-uppercase my-2">contact us for quote</a>
	</div>
	</div>