<div class="columns">
	<div class="column col-xs-7 col-sm-7 col-5 col-mx-auto product-img-div">
		<img src="/assets/images/Products/Pressed/Pressed.png" class="img-responsive" alt="Sun-Up Pressed Tofu Packaging">
	</div>
	<div class="column col-xs-12 col-sm-12 col-6 py-2 col-mx-auto">
		<h3>Pressed Tofu</h3>
		<h4 class="text-gray sub-head">For Soup and Steaming</h4>
		<div class="divider"></div>
		<h6>Description:</h6>
		<p>Similar to the Deep-Fried Tofu, the Pressed Tofu is economically friendly to our customers.
			Freshness and Quality are guaranteed as each bean curd is individually sealed in its packaging.<br>
			<br>Ideal for <i>niang tofu</i> and best used for steaming or soup purposes.</p>

		<h6>Specifications:</h6>
			<img src="/assets/images/Products/Pressed/productthumbnail.png" class="img-responsive prod-img" alt="Sun-Up Pressed Tofu self-cut plate">
		<ul>
			<li>Net Weight: 300g</li>
			<li>No Preservatives</li>
			<li>Ingredients:</li>
			<li>Non-GMO Soya Beans, Calcium Sulphate</li>
			<li>Keep Refrigerated 2&#8451; ~ 7&#8451;</li>
			<li><b>Plate form is also available if self-cut is preferred</b></li>
		</ul>
		<a href="/contact" class="btn btn-primary btn-lg fill-width text-uppercase my-2">contact us for quote</a>
	</div>
</div>