<div class="columns">
	<div class="column col-xs-7 col-sm-7 col-5 col-mx-auto product-img-div">
		<img src="/assets/images/Products/ReadyFriedBox/ReadyFriedBox.png" class="img-responsive">
	</div>
	<div class="column col-xs-12 col-sm-12 col-6 py-2 col-mx-auto">
		<h3>Ready Fried Tofu (3pcs)</h3>
		<h4 class="text-gray sub-head">For Braising</h4>
		<div class="divider"></div>
		<h6>Description:</h6>
		<p>Ready Fried Tofu is a new product that aims to assist chefs in their dish preparation.
			Deep frying bean curd is a complicated and tedious process
			due to factors that can affect the quality of the end product, such as the oil used, timing, technique etc.<br>
			<br>By pre-frying our Deep-Fried Tofu, chefs can skip the initial frying process.
			This product is sealed and packed in packs of three to ensure proper hygiene and freshness.</p>
		<h6>Specifications:</h6>
			<img src="/assets/images/Products/ReadyFriedStack/productthumbnail.png" class="img-responsive prod-img">
		<ul>
			<li>Net Weight: 300g</li>
			<li>No Preservatives</li>
			<li>Ingredients:</li>
			<li>Non-GMO Soya Beans, Calcium Sulphate</li>
			<li>Keep Refrigerated 2&#8451; ~ 7&#8451;</li>
		</ul>
		<a href="/contact" class="btn btn-primary btn-lg fill-width text-uppercase my-2">contact us for quote</a>
	</div>
</div>