<div class="columns">
	<div class="column col-xs-7 col-sm-7 col-5 col-mx-auto product-img-div">
		<img src="/assets/images/Products/Silken/Silken.png" class="img-responsive" alt="Sun-Up Japanese Silken Tofu">
	</div>
<div class="column col-xs-12 col-sm-12 col-6 py-2 col-mx-auto">
	<h1>{{ page.product-title }}</h1>
	<h2 class="text-gray sub-head">{{ page.product-subtitle }}</h2>
	<div class="divider"></div>
	{{ post.content }}
	<a href="/contact/" class="btn btn-primary btn-lg fill-width text-uppercase my-2">contact us for quote</a>
</div>
</div>