---
layout: default_cn
---

<div class="columns">
    <div class="column col-sm-12 col-9">
		{{ content }}
    </div>
    <div class="columns column col-sm-12 col-9">
    	<h2 class="column col-12">执照</h2>
    	<img class="column col-sm-4 col-4 img-fit-contain" src="../../assets/images/Main/sun-up-halal-logo.png" alt="sun-up-halal-logo">
    	<img class="column col-sm-4 col-4 img-fit-contain" src="../../assets/images/Main/HACCP.png" alt="sun-up-haccp-logo">
    	<img class="column col-sm-4 col-4 img-fit-contain" src="../../assets/images/Main/ISO22000.png" alt="sun-up-iso-22000-logo">
    </div>
</div>
