---
layout: default
---
<div class="columns">
	<div class="column col-sm-12 col-6">
		{{ content }}
	</div>
	<div class="column col-sm-12 col-6">
		<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.77182752851!2d103.632303!3d1.3123168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7dc3ba25729f2a6e!2sSun-Up+Bean+Food+Manufacturing!5e0!3m2!1sen!2ssg!4v1543710137532" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="column col-sm-12 col-12 form-group">
		<h2 class="my-2">Enquiry form</h2>
		<form name="contact_en" method="POST" data-netlify="true">
			<label class="form-label">Company Name:</label>
			<input class="form-input" type="text" name="company-name" placeholder="Enter your company name" required="true" />
			<label class="form-label">Company Address:</label>
			<input class="form-input" type="text" name="company-address" placeholder="Enter your company address" required="true" />
		    <label class="form-label">Your name:</label>
		    <input class="form-input" type="text" name="name" placeholder="Enter your name" required="true" />
		    <label class="form-label">Email:</label>
		    <input class="form-input" type="email" name="email" placeholder="Enter your email address" required="true" />
		    <label class="form-label">Message:</label>
		    <textarea class="form-input" name="message" rows="5" placeholder="Enter your enquiry" required="true"></textarea>
		    <label class="form-label">We'll be reaching out to you in 1-3 days, do keep a lookout for our email!</label>
		    <button class="btn btn-lg text-uppercase btn-primary my-2" type="submit">Send</button>
		</form>
	</div>
</div>
