---
layout: default_cn
---
{% include nav-breadcrumbs_cn.html %}
<div id="product-content">
	<div id="images">
		<img id="large-img" class="centered img-responsive rounded my-2" src="{{ page.product-image-path }}" alt="{{ page.product-image-text }}" />
		<div id="thumbnail-container">
			{% for thumbnail in page.images %}
			<img src="{{ thumbnail.thumbnail_path }}" 
			class="img-responsive rounded mx-1" 
			alt="{{ thumbnail.alt-text }}" 
			onClick="switchImg('{{ thumbnail.image_path }}', '{{ thumbnail.alt-text }}' );"/>
			{% endfor %}
		</div>
	</div>
	<div id="product-detail">
		<h1 class="my-2">{{ page.product-title }}</h1>
		<h2 class="text-gray sub-head">{{ page.product-subtitle }}</h2>
		<div class="divider"></div>
		<div class="product-content my-2">
			{{ content }}
		</div>
		<a href="/chinese/contact/" id="contact-btn" class="btn btn-primary btn-lg contact-btn text-uppercase">询问批量价格</a>
		<a href="{{ page.product-lazada-url }}" id="buy-btn" class="btn btn-primary btn-lg contact-btn text-uppercase my-2">lazada 网上购买</a>
	</div>
</div>
