<div class="columns">
	<div class="column col-12">
		<h1>公司详情</h1>
	</div>

	<div class="column col-sm-12 col-6">
		<h2>简介</h2>
		<p>晨阳食品公司是一家新加坡所成立的公司，专门生产与供应黄豆类似的产品，
		例如油炸，充填豆腐与板豆腐。我们采用自动化机器，确保产品安全，卫生，经济实用。
		本公司也不断研究与创造新产品，为消费者带来方便与高等品质的产品。</p>
		<h2>初期成立</h2>
		<p>晨阳食品成立于2003年，初期生产传统桶装切割板豆腐与炸豆腐。
		我们使用传承的配方和累计经验已有四十多年，我们知道如何制造出优质的豆腐。
		我们所采用高品质的黄豆，使我们的产品会散发出独特的黄豆香味。<br>
		<br>经过多年来，我们关注为顾客带来卫生与经济实惠的产品。
		我们采用自动化机械来提高工作效率，也不断鼓励消费者转换使用盒装豆腐。
		尽管如此，我们仍然忠实传统配方，保留了人人所喜爱的传统正宗味道。
		</p>
		<h2>公司使命</h2>
		<p>在豆腐行业不断创新，为顾客提供卫生，经济实用，优质的产品。</p>
	</div>
	<div class="column col-6 hide-sm"></div>
</div>