<div class="columns">
	<div id="plate" class="column col-12">
		<img id="plate-img" class="centered" src="/assets/images/Main/main.png" alt="晨阳煎炸豆腐辣椒">
		<div class="text-center" id="authentic_cn">正宗</div>
	</div>
	<div class="column col-12 divider"></div>
	<div class="column col-xs-12 col-sm-12 col-md-12 col-8 text-center col-mx-auto">
		<h1 id="introduction_cn">经过四十年的豆腐制造经验，我们不断努力为消费者带来最优质的产品，以满足他们的需求。</h1>
	</div>
	<div class="column col-12">
		<a href="/chinese/products" class="btn btn-primary btn-lg text-uppercase centered col-sm-12 col-3 col-mx-auto">产品种类</a>
	</div>
</div>