<h1>产品种类</h1>
<div>
    <div class="h3 my-2">销售产品</div>
    <div class="product-flex">
        {% for product in site.data.products.featured %}
        <a class="product product-link" href="{{ product.url_cn }}">
            <div class="product-img">
                <img src="{{ product.img-src }}"
                class="img-responsive"
                alt="{{ product.alt-text_cn }}"/>
            </div>
            <div class="product-text">
                <div class="h3">{{ product.name_cn }}</div>
                <span class="text-gray">{{ product.purpose_cn }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div>
    <div class="h3 my-2">新产品</div>
    <div class="product-flex">
        {% for product in site.data.products.new %}
        <a class="product product-link" href="{{ product.url_cn }}">
            <div class="product-img">
                <img src="{{ product.img-src }}"
                class="img-responsive"
                alt="{{ product.alt-text_cn }}"/>
            </div>
            <div class="product-text">
                <div class="h3">{{ product.name_cn }}</div>
                <span class="text-gray">{{ product.purpose_cn }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>