<div class="columns">
	<h1 class="column col-12">产品种类</h1>
	<div class="column col-8 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-mx-auto">
        <div class="columns">
            <h2 class="column col-12 hide-xs">销售产品</h2>
            <div class="column col-12 divider hide-xs"></div>
            <div class="column col-4 col-xs-12">
                <a href="/chinese/products/silken/" class="product-link">
                    <div class="columns">
                        <div class="column col-xs-4 col-12">
                            <img src="/assets/images/Products/Silken/singapore-tofu-supplier-sun-up-silken-tofu-thumbnail.jpeg" class="img-resrponsive centered product-img" alt="新加坡豆腐供应商晨阳日本豆腐缩略图">
                        </div>
                        <div class="column col-xs-8 col-md-12">
                            <div class="column col-xs-12 col-12 h3 text-center">日本豆腐</div>
                            <div class="column col-xs-12 col-12 text-gray text-center">适宜汤与蒸</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
            <div class="column col-4 col-xs-12">
                <a href="/chinese/products/deepfry/" class="product-link">

                    <div class="columns">
                        <div class="column col-xs-4 col-12">
                            <img src="/assets/images/Products/DeepFry/singapore-tofu-supplier-sun-up-deep-fried-tofu-thumbnail.jpeg" class="img-responsive centered product-img" alt="新加坡豆腐供应商晨阳煎炸豆腐缩略图">
                        </div>
                        <div class="column col-xs-8 col-md-12">
                            <div class="column col-xs-12 col-12 h3 text-center">煎炸豆腐</div>
                            <div class="column col-xs-12 col-12 text-gray text-center">适宜油炸与煎炸</div>
                        </div>
                    </div>
                <div class="divider column col-xs-12 py-2 show-xs"></div>
                </a>
            </div>
                <div class="column col-4 col-xs-12">
                    <a href="/chinese/products/pressed/" class="product-link">
                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/Pressed/singapore-tofu-supplier-sun-up-firm-pressed-tofu-thumbnail.jpeg" class="img-responsive centered product-img" alt="新加坡豆腐供应商晨阳板豆腐缩略图">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">板豆腐</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">适宜汤与蒸</div>
                            </div>
                        </div>
                    </a>
            </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
            <h2 class="column col-12 product-header hide-xs">新产品</h2>
            <div class="column col-12 divider hide-xs"></div>
                <div class="column col-4 col-xs-12">
                    <a href="/chinese/products/caixiang/" class="product-link">

                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/CaiXiang/singapore-tofu-supplier-sun-up-caixiang-tofu-thumbnail.jpeg" class="img-responsive centered product-img" alt="新加坡豆腐供应商晨阳菜香豆腐缩略图">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">菜香豆腐</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">适宜铁板烧</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
                <div class="column col-4 col-xs-12">
                    <a href="/chinese/products/readyfry3/" class="product-link">

                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/ReadyFriedBox/singapore-tofu-supplier-sun-up-ready-fried-tofu-box-thumbnail.jpeg" class="img-responsive centered product-img" alt="新加坡豆腐供应商晨阳预备炸豆腐缩略图3条装">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">预备炸豆腐（3条装）</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">适宜焖与炖</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
                <div class="column col-4 col-xs-12">
                    <a href="/chinese/products/readyfry20/" class="product-link">
                        <div class="columns">
                            <div class="column col-xs-4 col-12">
                                <img src="/assets/images/Products/ReadyFriedStack/singapore-tofu-supplier-sun-up-ready-fried-tofu-vacuum-thumbnail.jpeg" class="img-responsive centered product-img" alt="新加坡豆腐供应商陈阳预备炸豆腐缩略图20条装">
                            </div>
                            <div class="column col-xs-8 col-md-12">
                                <div class="column col-xs-12 col-12 h3 text-center">预备炸豆腐（20条装）</div>
                                <div class="column col-xs-12 col-12 text-gray text-center">适宜焖与炖</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="divider column col-xs-12 py-2 show-xs"></div>
        </div>
    </div>
</div>
